.container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  padding: 50px 200px 50px 200px;
}

.title {
  color: #353c4e !important;
  font-weight: bold !important;
  font-size: 25px !important;
  margin-top: 50px;
}

.card {
  margin-bottom: 30px;
  transition: 0.3s;
  width: 45%;
  margin-right: 30px;
}

.card:hover {
  transform: scale(1.02);
}

.button {
  background-color: #dc3545 !important;
  color: white !important;
}

.button:hover {
  font-weight: bold;
}

.appoint {
  font-weight: bold;
}

.heading {
  color: #353c4e !important;
  font-weight: bold !important;
}

.text span {
  font-weight: bold !important;
}

.btnContainer {
  display: flex;
  justify-content: flex-end !important;
}

.history {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  padding: 40px 250px 0px 0px;
}

.historyButton {
  background-color: #dc3545 !important;
  color: white !important;
}

@media screen and (max-width: 1000px) {
  .title {
    margin-top: 40px;
  }
  .container {
    padding: 20px 50px 100px 50px;
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-left: 0;
  }
  .title {
    margin-top: 10px;
  }
}
